@import all.scss;

span {
    margin: 0 1ex;
    font-weight: 700;
}

.activo {font-weight: 600;}

.size-big{
    font-size: calc(1.3rem + 9vw);
}
.size-small {
    font-size: calc(0.75rem + 0.5vw);
}

.size_footer{font-size: calc(0.40rem + 1vw);}

.grid {display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 50px;
    grid-template-areas:    "header header"
                            "main   aside"
                            "footer footer"
}



aside {grid-area: aside;}



