.width-1 {
  width: 10%;
}

.width-2 {
  width: 20%;
}

.width-3 {
  width: 30%;
}

.width-4 {
  width: 40%;
}

.width-5, main .tarjeta .info .descripcion {
  width: 50%;
}

.width-6 {
  width: 60%;
}

.width-7 {
  width: 70%;
}

.width-8 {
  width: 80%;
}

.width-9 {
  width: 90%;
}

.width-10 {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  padding: 0;
  margin: 0;
}

.size-big {
  font-family: "Montserrat";
  font-size: calc(1.3rem + 9vw);
  font-weight: 400;
  color: #ffffff;
}

.size-small, main .tarjeta .info .descripcion .p {
  font-family: "Montserrat";
  font-size: calc(1rem + 0.8vw);
  font-weight: 400;
  color: #ffffff;
}

.size-footer {
  font-family: "Montserrat";
  font-size: calc(0.4rem + 0.5vw);
  font-weight: 400;
  color: #ffffff;
}

.size-title, main .tarjeta .hero .texto {
  font-family: "Montserrat";
  font-size: calc(2rem + 1.2vw);
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.size-body {
  font-family: "Montserrat";
  font-size: auto;
  font-weight: 400;
  color: #ffffff;
}

span {
  font-family: "Montserrat";
  font-size: calc(0.8rem + 1vw);
  font-weight: 700;
  color: #ffffff;
  margin: 0 1ex;
}

.activo {
  font-family: "Montserrat";
  font-size: calc(0.8rem + 1vw);
  font-weight: bold;
  color: #ffffff;
}

.letratodo, body {
  font-family: "montserrat";
  font-size: auto;
  font-weight: 400;
  color: #ffffff;
}

.botones, main .tarjeta .BtnDes .Botn {
  justify-content: center;
  align-items: center;
  background-color: #fad867;
  padding: 5px 20px;
  color: #f89041;
  border-radius: 15px;
}

aside {
  border-style: solid;
  border-width: 4px;
  border-color: #ffffff;
  border-radius: 10px;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 120px 10px;
}
@media (max-width: 480px) {
  aside {
    grid-area: main;
  }
}
aside H2 {
  font-weight: bold;
  margin: 0 10px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #000000;
}
aside .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside .work .workslogo img {
  width: 15vh;
}
.encabezado {
  width: 100%;
  margin-bottom: 10px;
  grid-area: header;
}
@media (max-width: 480px) {
  .encabezado {
    justify-content: space-around;
  }
}
.encabezado .navegar {
  padding: 0px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .encabezado .navegar {
    justify-content: center;
  }
}
.encabezado .navegar .logo {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .encabezado .navegar .logo {
    display: none;
  }
}
@media (max-width: 480px) {
  .encabezado .navegar .logo {
    display: none;
  }
}
.encabezado .navegar .logo .logoimg {
  width: 60%;
  align-items: center;
}
.encabezado .navegar .lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
@media (max-width: 480px) {
  .encabezado .navegar .lista {
    display: block;
  }
}
.encabezado .navegar li {
  margin: 0 5px;
  text-align: center;
  line-height: 1rem;
}
.encabezado .navegar li a {
  text-decoration: none;
  color: #ffffff;
}
.encabezado .nombre {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  min-width: 120px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .encabezado .nombre {
    display: block;
    margin: 15px;
  }
}
.encabezado .nombre .nombreimg {
  width: 90%;
  justify-content: end;
}
@media (min-width: 768px) {
  .encabezado .nombre .nombreimg {
    display: block;
  }
}

main {
  grid-area: main;
  flex-direction: column;
  width: 100%;
}
main .tarjeta {
  padding: 5px 20px;
  margin: 10px;
}
main .tarjeta .hero {
  display: flex;
  align-items: center;
}
main .tarjeta .hero .texto {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
main .tarjeta .info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  margin: 5px;
}
main .tarjeta .info .imagen {
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  main .tarjeta .info .imagen {
    display: none;
  }
}
main .tarjeta .info .imagen .ImgJpg {
  width: 100%;
  width: fixed;
  padding: 15px;
}
@media (max-width: 480px) {
  main .tarjeta .info .imagen .ImgJpg {
    display: none;
  }
}
main .tarjeta .info .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
@media (max-width: 480px) {
  main .tarjeta .info .descripcion {
    width: 100%;
  }
}
main .tarjeta .info .descripcion .p {
  text-align: center;
}
main .tarjeta .SaberyRedes {
  display: flex;
  flex-direction: column-reverse;
  margin: 15px;
}
main .tarjeta .SaberyRedes .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .tarjeta .SaberyRedes .redes a img {
  width: 50px;
  margin: 1vh;
}
main .tarjeta .SaberyRedes .saber {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  main .tarjeta .SaberyRedes .saber {
    flex-direction: column;
  }
}
main .tarjeta .SaberyRedes .saber img {
  width: 180px;
  margin: 2vh;
}
main .tarjeta .BtnDes {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  align-items: center;
}
main .tarjeta .BtnDes .Botn:hover {
  color: #ffffff;
  background-color: #ee7c7c;
}
main .tarjeta .des {
  justify-content: center;
}
main .tarjeta .des .pdes {
  text-align: center;
}

aside {
  border-style: solid;
  border-width: 4px;
  border-color: #ffffff;
  border-radius: 10px;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 120px 10px;
}
@media (max-width: 480px) {
  aside {
    grid-area: main;
  }
}
aside H2 {
  font-weight: bold;
  margin: 0 10px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #000000;
}
aside .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside .work .workslogo img {
  width: 15vh;
}
footer {
  grid-area: footer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: "header header" "main   aside" "footer footer";
}
@media (max-width: 480px) {
  .grid {
    display: grid;
  }
}

main .frasesind {
  line-height: 680%;
}
main .bordeimg {
  border-radius: 100%;
  border: 3px solid white;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */