width-1 {
  width: 10%;
}

width-2 {
  width: 20%;
}

width-3 {
  width: 30%;
}

width-4 {
  width: 40%;
}

width-5 {
  width: 50%;
}

width-6 {
  width: 60%;
}

width-7 {
  width: 70%;
}

width-8 {
  width: 80%;
}

width-9 {
  width: 90%;
}

width-10 {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.size-big {
  font-family: "Montserrat";
  font-size: calc(1.3rem + 9vw);
  font-weight: 400;
  color: #ffffff;
}

.size-small {
  font-family: "Montserrat";
  font-size: calc(0.75rem + 0.5vw);
  font-weight: 400;
  color: #ffffff;
}

.size_footer {
  font-family: "Montserrat";
  font-size: calc(0.4rem + 1vw);
  font-weight: 400;
  color: #ffffff;
}

.size_title {
  font-family: "Montserrat";
  font-size: calc(0.8rem + 1vw);
  font-weight: 400;
  color: #ffffff;
}

.size_body {
  font-family: "Montserrat";
  font-size: auto;
  font-weight: 400;
  color: #ffffff;
}

span {
  font-family: "Montserrat";
  font-size: calc(0.8rem + 1vw);
  font-weight: 700;
  color: #ffffff;
  margin: 0 1ex;
}

.activo {
  font-family: "Montserrat";
  font-size: calc(0.8rem + 1vw);
  font-weight: bold;
  color: #ffffff;
}

.letratodo {
  font-family: "montserrat";
  font-size: auto;
  font-weight: 400;
  color: #ffffff;
}

.botones, main .tarjeta .BtnDes .Botn {
  justify-content: center;
  align-items: center;
  background-color: #fad867;
  padding: 5px 20px;
  color: #f89041;
  border-radius: 15px;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}
aside H2 {
  font-weight: bold;
}
aside .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside .work .workslogo img {
  width: 15vh;
}
.encabezado {
  grid-area: header;
}
.encabezado .navegar {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.encabezado .navegar .logo {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
.encabezado .navegar .logo .logoimg {
  width: 20%;
  align-items: center;
}
.encabezado .navegar .lista {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.encabezado .navegar .lista li {
  margin: 10px;
}
.encabezado .navegar .lista li a {
  text-decoration: none;
  color: #ffffff;
}
.encabezado .navegar .nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.encabezado .navegar .nombre .nombreimg {
  width: 20%;
}

main {
  grid-area: main;
  flex-direction: column;
  width: 100%;
  margin: 15px;
}
main .tarjeta .hero {
  display: flex;
  align-items: center;
}
main .tarjeta .hero .texto {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
}
main .tarjeta .info {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 5px;
}
main .tarjeta .info .imagen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .tarjeta .info .imagen .ImgJpg {
  width: 100%;
  width: fixed;
  padding: 15px;
}
main .tarjeta .info .imagen .descripcion {
  padding: 10px;
}
main .tarjeta .info .imagen .descripcion .p {
  text-align: center;
}
main .tarjeta .BtnDes {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  align-items: center;
}
main .tarjeta .BtnDes .Botn:hover {
  color: #ffffff;
  background-color: #ee7c7c;
}
main .tarjeta .des {
  justify-content: center;
}
main .tarjeta .des .pdes {
  text-align: center;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}
aside H2 {
  font-weight: bold;
}
aside .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside .work .workslogo img {
  width: 15vh;
}
footer {
  grid-area: footer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 50px;
  grid-template-areas: "header header" "main   aside" "footer footer";
}/*# sourceMappingURL=style.css.map */