@mixin letras ($famili:'montserrat', $fsize:16px, $fweight:400, $letracolor:map-get($map: $pallete, $key: secundario)) {
    font-family: $famili;
    font-size: $fsize;
    font-weight: $fweight;
    color: $letracolor;
}

.LetterBigUno { @include letras('montserrat',calc(1rem + 2vw) ,600 ,map-get($map: $pallete, $key: secundario ))};

.LetterBigDos { @include letras('montserrat',calc(1rem + 0.7vw) ,400 ,map-get($map: $pallete, $key: secundario ))};

.letterboton { @include letras('montserrat',calc(1rem + 0.2vw), 600, map-get( $map: $pallete, $key: primario) )};

.size-big {
    @include letras('Montserrat', calc(1rem + 2vw), 600, map-get($map: $pallete, $key: secundario));
}

.size-small{
    @include letras('Montserrat', calc(1rem + 0.8vw), 400, map-get($map: $pallete, $key: secundario));
}

.size-footer {
    @include letras('Montserrat', calc(0.4rem + 0.5vw), 400, map-get($map: $pallete, $key: secundario));
}

.size-title {
    @include letras('Montserrat', calc(1rem + 0.4vw), 400, map-get($map: $pallete, $key: secundario));
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.size-body {
    @include letras('Montserrat', auto, 400, map-get($map: $pallete, $key: secundario));
}

span {
    @include letras('Montserrat', calc(0.80rem + 1vw), 700, map-get($map: $pallete, $key: secundario));
    margin: 0 1ex;
}


.activo {
    @include letras('Montserrat', calc(0.80rem + 1vw), 500 , map-get($map: $pallete, $key: secundario));
}

.letratodo{ @include letras('montserrat',auto ,400 , map-get($map: $pallete, $key: secundario));}