$fondoNegro: #000000;

$coloramarillo: #fad867; 

$colornaranja: #f89041;

$colorred: #ee7c7c;

$white: #ffffff;


$pallete: (
    'secundario': #000000,
    'terciario': #fad867,
    'cuaternario': #f89041,
    'ultimo': #ee7c7c,
    'primario': #ffffff,
);


@for $var from 1 through 10 {
    .width-#{$var} {width: $var *10%}
}

$smartphone: 480px;
$screenmd: 768px;

@media (max-width: $smartphone) {
    
}
@media (max-width: $screenmd) {
    
}