$pallete: (
    'secundario': #000000,
    'terciario': #fad867,
    'cuaternario': #f89041,
    'ultimo': hsl(0, 77%, 71%),
    'primario': #ffffff,
);


@for $var from 1 through 10 {
    .width-#{$var} {width: $var *10%}
}

$smartphone: 480px;
$screenmd: 768px;

@media (max-width: $smartphone) {
    
}
@media (max-width: $screenmd) {
    
}