$pallete: (
    'secundario': #000000,
    'terciario': #fad867,
    'cuaternario': #88d8eb,
    'ultimo': #dbace5,
    'primario': #ffffff,
);


@for $var from 1 through 10 {
    .width-#{$var} {width: $var *10%}
}

@for $var from 1 through 10 {
    .vw-#{$var} {width: $var *10vw}
}

$smartphone: 480px;
$screenmd: 768px;

@media (max-width: $smartphone) {
    
}
@media (max-width: $screenmd) {
    
}

