aside{grid-area: aside; display:flex; flex-direction: column; justify-content:space-around; margin: 10px;
    H2{ font-weight: bold;}
    .work {display: flex; flex-direction: column; justify-content: center; align-items: center; 
        .workslogo{ 
            img{ width: 15vh;}}
        p{}
    }
}
