.aside{display:flex; flex-direction: column; justify-content:space-around; 
    div {align-items: center;
    H2{ font-weight: bold;margin:0 10px;justify-content: center; display: inline-flex;width: 100%;;background-color: map-get($map:$pallete, $key:secundario);color: map-get($map:$pallete, $key:primario);}}
    div {display: flex; flex-direction: row; justify-content: space-around; align-items: center;
    .work {display: flex; flex-direction: column; justify-content: center; align-items: center;
        .workslogo{ 
            img{ width: 15vh;;}}
        p{}}
    }
}
#esme {background-color:lightseagreen; padding: 2px;}