footer {grid-area: footer;
    .footer{display: flex; flex-direction: row; justify-content: space-around;width: 100%; ;position: absolute;bottom: 0;
        nav {
            p{ }
            p{ }}}}
