footer {grid-area: footer; width: 100%;
    .footer{display: flex; flex-direction: row; justify-content: space-between;width: 100vw;@media (min-width:$smartphone) {padding-bottom: 10px};
            p{ padding: 0 2vw; text-align: center;}}}
