.grid {display: grid;
    grid-template-columns: 98vw ;
    grid-template-rows:auto 1fr auto auto; 
    grid-template-areas:    "header"
                            "main"
                            "footer" ;
    @media (max-width: $smartphone) { display: grid;

                            }
}