.encabezado {width: 100vw;
    margin-bottom: 10px;
    position: sticky;top:0;background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.9);
    .navegar {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;
        @media (max-width: $smartphone) {height: 15vh; ;justify-content:space-around;}
        .logo {
            display        : flex;
            width          : 10%;
            justify-content: center;
            align-items    : center;
            @media (max-width: $screenmd) {
                display: none;
            }
            @media (max-width: $smartphone) {
                display: none;
            }
            .logoimg {
                width      : 60%;
                align-items: center;
            }
        }
        .lista {
            list-style    : none;
            display       : flex;
            flex-direction: row;
            margin        : 0;
            padding       : 0; @media (max-width: $smartphone) {
                display: block;
            }
        }
        li {
            margin     : 0 5px;
            text-align : center;
            line-height: 1.3rem;
            .activo {@extend #activo; }
            a { @extend .size-header;
                text-decoration: none;
                color          : map-get($map: $pallete, $key: secundario)
                ;@media (max-width: $smartphone) {font-size: 20px;
            }
        }}
    .nombre {
        display        : flex;
        justify-content: end;
        align-items    : center;
        width          : 20%;
        min-width      : 120px;
        flex-wrap      : wrap; @media (min-width: $screenmd) {
            display: block; margin: 15px;
        }
        .nombreimg {
            width          : 100%;
            justify-content: end; @media (min-width: $screenmd) {
        }
    }
}}}


.nav__input {display: none;}
.nav__label {display: none;}
.nav__item {color: black;text-decoration: none;
--clippy: polygon(0 0, 0 0, 0 100%, 0 100%); }

.nav__item::after{content:"";
    display: block;
    background: white;
    height: 3px;
    width: 90% ;
    margin-top: 3px;
clip-path: var(--clippy);
transition: clip-path .5s;} 

.nav__item:hover {--clippy: polygon(0 0, 100% 0%, 100% 100%, 0 100%);color: black;}

.nav__menu{ display: grid;grid-auto-flow: column; gap: 1em;}


@media (max-width:760px){.nav__label{display: block; cursor: pointer;}

    .nav__menu{ position:absolute;
    // top:40px ;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    clip-path: circle( 0 at center);
    text-decoration: underline;
    transition: clip-path 1s ease-in-out;
    }

    .nav__item{ width: 30%; align-items: center;text-align: center;text-transform: uppercase; font-weight: 600;}
.nav__input:checked + .nav__menu { clip-path: circle(100% at center);background-color: map-get($map:$pallete, $key: terciario );
}
}