.size-big {
    font-size: calc(1.3rem + 9vw);
  }
  
.size-small {
    font-size: calc(0.75rem + 0.5vw);
  }
  
.size_footer {
    font-size: calc(0.4rem + 1vw);
  }

.size_title{font-size: calc(0.80rem + 1vw);}

span {
    margin: 0 1ex;
    font-weight: 700;
  }

.activo {font-weight: bold;}